@import "tailwindcss";

@theme {
  --color-primary-bg: #FEF5F5;
  --color-primary-dashboard-bg: #F9FAFB;
  --color-primary-text: #111827;
}

@font-face {
  font-family: 'Inter';
  src: url('/inter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/inter_Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/inter_Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/inter_Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Add cursor-pointer to all buttons and links globally for robustness */
button, a, [role="button"], .cursor-pointer {
  cursor: pointer !important;
}